<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.nursing.mapper.AlertDataMapper">
    
    <resultMap type="AlertData" id="AlertDataResult">
        <result property="id"    column="id"    />
        <result property="iotId"    column="iot_id"    />
        <result property=""    column="device_name"    />
        <result property="productKey"    column="product_key"    />
        <result property="productName"    column="product_name"    />
        <result property="functionId"    column="function_id"    />
        <result property="accessLocation"    column="access_location"    />
        <result property="locationType"    column="location_type"    />
        <result property="physicalLocationType"    column="physical_location_type"    />
        <result property="deviceDescription"    column="device_description"    />
        <result property="dataValue"    column="data_value"    />
        <result property="alertRuleId"    column="alert_rule_id"    />
        <result property="alertReason"    column="alert_reason"    />
        <result property="processingResult"    column="processing_result"    />
        <result property="processorId"    column="processor_id"    />
        <result property="processorName"    column="processor_name"    />
        <result property="processingTime"    column="processing_time"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>




    <insert id="insertAlertData" parameterType="AlertData" useGeneratedKeys="true" keyProperty="id">
        insert into alert_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iotId != null and iotId != ''">iot_id,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="productKey != null and productKey != ''">product_key,</if>
            <if test="productName != null">product_name,</if>
            <if test="functionId != null and functionId != ''">function_id,</if>
            <if test="accessLocation != null">access_location,</if>
            <if test="locationType != null">location_type,</if>
            <if test="physicalLocationType != null">physical_location_type,</if>
            <if test="deviceDescription != null">device_description,</if>
            <if test="dataValue != null and dataValue != ''">data_value,</if>
            <if test="alertRuleId != null">alert_rule_id,</if>
            <if test="alertReason != null and alertReason != ''">alert_reason,</if>
            <if test="processingResult != null">processing_result,</if>
            <if test="processorId != null">processor_id,</if>
            <if test="processorName != null">processor_name,</if>
            <if test="processingTime != null">processing_time,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="iotId != null and iotId != ''">#{iotId},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="productKey != null and productKey != ''">#{productKey},</if>
            <if test="productName != null">#{productName},</if>
            <if test="functionId != null and functionId != ''">#{functionId},</if>
            <if test="accessLocation != null">#{accessLocation},</if>
            <if test="locationType != null">#{locationType},</if>
            <if test="physicalLocationType != null">#{physicalLocationType},</if>
            <if test="deviceDescription != null">#{deviceDescription},</if>
            <if test="dataValue != null and dataValue != ''">#{dataValue},</if>
            <if test="alertRuleId != null">#{alertRuleId},</if>
            <if test="alertReason != null and alertReason != ''">#{alertReason},</if>
            <if test="processingResult != null">#{processingResult},</if>
            <if test="processorId != null">#{processorId},</if>
            <if test="processorName != null">#{processorName},</if>
            <if test="processingTime != null">#{processingTime},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAlertData" parameterType="AlertData">
        update alert_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="iotId != null and iotId != ''">iot_id = #{iotId},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="productKey != null and productKey != ''">product_key = #{productKey},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="functionId != null and functionId != ''">function_id = #{functionId},</if>
            <if test="accessLocation != null">access_location = #{accessLocation},</if>
            <if test="locationType != null">location_type = #{locationType},</if>
            <if test="physicalLocationType != null">physical_location_type = #{physicalLocationType},</if>
            <if test="deviceDescription != null">device_description = #{deviceDescription},</if>
            <if test="dataValue != null and dataValue != ''">data_value = #{dataValue},</if>
            <if test="alertRuleId != null">alert_rule_id = #{alertRuleId},</if>
            <if test="alertReason != null and alertReason != ''">alert_reason = #{alertReason},</if>
            <if test="processingResult != null">processing_result = #{processingResult},</if>
            <if test="processorId != null">processor_id = #{processorId},</if>
            <if test="processorName != null">processor_name = #{processorName},</if>
            <if test="processingTime != null">processing_time = #{processingTime},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAlertDataById" parameterType="Long">
        delete from alert_data where id = #{id}
    </delete>

    <delete id="deleteAlertDataByIds" parameterType="String">
        delete from alert_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectAlertDataList" resultType="com.zzyl.nursing.vo.AlertDataVo">
        select t1.id,
        t1.iot_id,
        t1.device_name as nickname,
        t1.product_key,
        t1.product_name,
        t1.function_id,
        t1.access_location,
        t1.location_type,
        t1.physical_location_type,
        t1.device_description,
        t1.data_value,
        t1.alert_rule_id,
        t1.alert_reason,
        t1.processing_result,
        t1.processor_id,
        t1.processor_name,
        t1.processing_time,
        t1.type,
        t1.status,
        t1.user_id,
        t1.create_time,
        t1.update_time,
        t1.create_by,
        t1.update_by,
        t2.node_id as deviceName,
        t2.remark
        from alert_data as t1
        left join device as t2 on t1.iot_id COLLATE utf8mb4_unicode_ci = t2.iot_id
        <where>
            <if test="alertDataDto.deviceName != null and alertDataDto.deviceName != ''">
                AND t1.device_name LIKE CONCAT('%', #{alertDataDto.deviceName}, '%')
            </if>
            <if test="alertDataDto.startTime != null">
                AND t1.create_time >= #{alertDataDto.startTime}
            </if>
            <if test="alertDataDto.endTime != null">
                AND t1.create_time &lt;= #{alertDataDto.endTime}
            </if>
            <if test="alertDataDto.status != null">
                AND t1.status = #{alertDataDto.status}
            </if>
        </where>
        ORDER BY t1.create_time DESC
    </select>
</mapper>