<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzyl.nursing.mapper.RoomMapper">

    <resultMap type="Room" id="RoomResult">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="sort" column="sort"/>
        <result property="typeName" column="type_name"/>
        <result property="floorId" column="floor_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectRoomVo">
        select id,
               code,
               sort,
               type_name,
               floor_id,
               create_time,
               update_time,
               is_deleted,
               create_by,
               update_by,
               remark
        from room
    </sql>

    <select id="selectRoomList" parameterType="Room" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        <where>
            <if test="code != null  and code != ''">and code = #{code}</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="typeName != null  and typeName != ''">and type_name like concat('%', #{typeName}, '%')</if>
            <if test="floorId != null ">and floor_id = #{floorId}</if>
            <if test="isDeleted != null ">and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectRoomById" parameterType="Long" resultMap="RoomResult">
        <include refid="selectRoomVo"/>
        where id = #{id}
    </select>


    <resultMap id="roomVoResultMap" type="com.zzyl.nursing.vo.RoomVo">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="floorId" column="floor_id"/>
        <result property="floorName" column="fname"/>
        <result column="price" property="price"/>
        <collection property="bedVoList" ofType="com.zzyl.nursing.vo.BedVo">
            <id column="bid" property="id"/>
            <result column="bed_number" property="bedNumber"/>
            <result column="bed_status" property="bedStatus"/>
            <result column="room_id" property="roomId"/>
            <result column="ename" property="ename"/>
            <result column="eid" property="elderId"/>
        </collection>
    </resultMap>

    <select id="selectByFloorId" resultMap="roomVoResultMap">
        select r.*,
        f.name as fname,
        rt.*,
        b.id as bid,
        b.bed_number,
        b.sort,
        b.bed_status,
        b.room_id,
        b.create_by,
        b.update_by,
        b.remark,
        b.create_time,
        b.update_time,
        e.name as ename,
        e.id as eid
        from room r
        left join floor f on f.id = r.floor_id
        left join room_type rt on rt.name = r.type_name
        left join bed b on b.room_id = r.id
        left join elder e on b.id = e.bed_id
        where r.floor_id = #{floorId}
        order by r.sort, r.create_time desc,b.sort,b.create_time desc
    </select>


    <resultMap id="roomVoWithNurResultMap" type="com.zzyl.nursing.vo.RoomVo">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="floorId" column="floor_id"/>
        <result property="floorName" column="fname"/>
        <result column="price" property="price"/>
        <collection property="bedVoList" ofType="com.zzyl.nursing.vo.BedVo">
            <id column="bid" property="id"/>
            <result column="bed_number" property="bedNumber"/>
            <result column="bed_status" property="bedStatus"/>
            <result column="room_id" property="roomId"/>
            <result column="ename" property="ename"/>
            <result column="eid" property="elderId"/>
            <collection property="userVos" ofType="com.zzyl.common.core.domain.entity.SysUser" column="eid"
                        select="com.zzyl.nursing.mapper.NursingElderMapper.selectUserByElderId">
                <result column="nick_name" property="nickName"/>
                <result column="userId" property="userId"/>
            </collection>
        </collection>
    </resultMap>

    <select id="selectByFloorIdWithNur" resultMap="roomVoWithNurResultMap">
        select r.*,
        b.id as bid,
        b.bed_number,
        b.sort,
        b.bed_status,
        b.room_id,
        e.name as ename,
        e.id as eid
        from room r
        left join bed b on b.room_id = r.id
        left join elder e on e.bed_id = b.id
        where r.floor_id = #{floorId}
        and e.id is not null
        order by r.sort, r.create_time desc
    </select>


    <insert id="insertRoom" parameterType="Room" useGeneratedKeys="true" keyProperty="id">
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="sort != null">sort,</if>
            <if test="typeName != null">type_name,</if>
            <if test="floorId != null">floor_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="sort != null">#{sort},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="floorId != null">#{floorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRoom" parameterType="Room">
        update room
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="floorId != null">floor_id = #{floorId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRoomById" parameterType="Long">
        delete from room where id = #{id}
    </delete>

    <delete id="deleteRoomByIds" parameterType="String">
        delete from room where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据房间id查询房间数据(楼层、房间、价格)    -->
    <select id="selectFloorAndRoomAndPriceByRoomId" resultType="com.zzyl.nursing.vo.RoomVo">
        select t2.name as floorName,t1.floor_id ,t1.id as roomId,t1.code,t3.price
        from room t1
        left join floor t2 on t1.floor_id = t2.id
        left join room_type t3 on t1.type_name = t3.name
        where t1.id=#{roomId}
    </select>

    <resultMap id="roomDeviceDataMap" type="com.zzyl.nursing.vo.RoomVo">
        <id column="id" property="id"/>
        <result column="floor_name" property="floorName"/>
        <result column="floor_id" property="floorId"/>
        <result column="room_id" property="roomId"/>
        <result column="code" property="code"/>
        <result column="price" property="price"/>
        <collection property="deviceVos" ofType="com.zzyl.nursing.vo.DeviceInfo">
            <id column="r_d_id" property="id"/>
            <result column="r_iot_id" property="iotId"/>
            <result column="r_device_name" property="deviceName"/>
            <result column="r_product_key" property="productKey"/>
            <result column="r_product_name" property="productName"/>
        </collection>
        <collection property="bedVoList" ofType="com.zzyl.nursing.vo.BedVo">
            <id column="bed_id" property="id"/>
            <result column="bed_number" property="bedNumber"/>
            <result column="bed_status" property="bedStatus"/>
            <result column="room_id" property="roomId"/>
            <result column="ename" property="ename"/>
            <result column="elderId" property="elderId"/>
            <collection property="deviceVos" ofType="com.zzyl.nursing.vo.DeviceInfo">
                <id column="b_d_id" property="id"/>
                <result column="b_iotId" property="iotId"/>
                <result column="b_device_name" property="deviceName"/>
                <result column="b_product_key" property="productKey"/>
                <result column="b_product_name" property="productName"/>
            </collection>
        </collection>

    </resultMap>

    <select id="selectByFloorIdWithDevice" resultMap="roomDeviceDataMap">
        select
        # 房间相关数据
        t2.id,
        t1.name as floor_name,
        t2.floor_id as floor_id,
        t2.id as room_id,
        t2.code,
        t6.price as price,
        # 房间设备数据
        t3.id as r_d_id,
        t3.iot_id as r_iot_id,
        t3.device_name as r_device_name,
        t3.product_key as r_product_key,
        t3.product_name as r_product_name,
        # 房间床位数据
        t4.id as bed_id,
        t4.bed_number as bed_number,
        t4.bed_status as bed_status,
        t4.room_id as room_id,
        t7.name as ename,
        t7.id as elderId,
        # 床位设备数据
        t5.id as b_d_id,
        t5.iot_id as b_iotId,
        t5.device_name as b_device_name,
        t5.product_key as b_product_key,
        t5.product_name as b_product_name
        from floor t1
        left join zzyl.room t2 on t1.id = t2.floor_id
        left join device t3
        on t3.location_type = 1 and t3.physical_location_type = 1 and t2.id = t3.binding_location
        left join zzyl.bed t4 on t2.id = t4.room_id
        left join device t5
        on t5.location_type = 1 and t5.physical_location_type = 2 and t4.id = t5.binding_location
        left join room_type t6 on t2.type_name = t6.name
        left join elder t7 on t4.id = t7.bed_id
        where (t3.id is not null
        or t5.id is not null)
        and t1.id=#{floorId}
        group by t1.id
    </select>
</mapper>